
header{
  background-color: var(--c3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 10%;
  padding-right: calc(10% + 24px);
  font-family: 'Poppins';
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0 auto;
  box-shadow: 0px -5px 10px 0px #00000050;
  transition: 0.6s;
  position: relative;
  /* z-index: 100000;
  position: fixed;
  left:0;
  right: 0;
  top:0; */
  


}


/* appeared header */

a{
  text-decoration: none;
  color: var(--c12);
  transition: 0.2s;

}

a:hover{
  color: var(--r6);
  transform: scale(1.1);
}


header nav{
  font-size: 1.2rem;
  line-height: 2.25rem;
  color: var(--c12);

}

ul{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/*hamburger button*/

.menu__box{
z-index: 10;
position: relative;
height: 0;
display: block;
position: absolute;
top: 0;
right: -100%;
width: auto;
height: auto;
margin: 0;
padding: 1rem 2rem;
list-style: none;
background-color: var(--c3);
box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transition-duration: .25s;
display: none;

}

.menu__box_content{
  padding: 1rem 2rem;
}

.menu__box h1,.menu__box h2,.menu__box ul,.menu__box a, .menu__box img{
  display: block;
}

.menu__box h1{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  color: var(--c11);
  text-align: center;
  position: relative;
}

.menu__box::after{
  content: "";
  background-color: var(--r6);
  width: 5rem;
  height: 2px;
  position: absolute;
  top: 2.8rem;
  left: 4.5rem;
}

.menu__box h2{
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: -0.02em;
  color: var(--c12);
}

.menu__box a{
  font-size: 0.8rem;
  color: var(--c9);
}


.menu__btn {
position: absolute;
top: 2.4rem;
right: 5rem;
width: 1.7rem;
height: 2rem;
cursor: pointer;
z-index: 12;
}


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 3px;
border-radius: 5px;
background-color: var(--c8);
transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}



#menu__toggle {
opacity: 0;
z-index: 11;
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);


}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
right: 4rem !important;
top: 1rem !important;
display: block;
}

/* header.sticky{
background-color: #6357D2;
padding: 0.2rem
} */

.brand{
font-size: 2rem;
line-height: 3.3rem;
color: var(--c12);

}



/* language */



.language-switcher span {
cursor: pointer;
padding: 5px 10px;
}

.language-switcher span.active {
font-weight: bold;
}


.content h1 {
font-size: 24px;
}

.content p {
font-size: 16px;
}

.language-switcher{
position: absolute;
}

#change_button{
background-color: var(--c3);
border: none;
font-family: 'Fira Sans';
font-weight: 700;
font-size: 1rem;
color:#5C5C5C;
transition: .25s;
}

#change_button:hover{
color:var(--r6);
cursor: pointer;
transform: scale(1.17);
}

.change_buttom::before{
content: "";
background-color: var(--r6);
width: 4.8rem;
height: 1.5px;
position: absolute;
bottom: 0rem;
transition: 1s;

}

.change_buttom:hover::before{
transform: scale(0.1);
}

.optioncat{
max-width: 6rem;
position: absolute;
filter: saturate(0.5);
bottom: -0.6rem;
left: 7rem;
}

.darkmodetext{
padding-top: 2rem;
}

.darkmodetext::before{
content: "";
background-color: var(--c5);
width: 10rem;
height: 1.8px;
position: absolute;
top: 9.8rem;
transition: 1s;
}

.menu__box nav{
display: none;
}


@media screen and (max-width: 1024px){
.brand{
  font-size: 1.5rem;

}

header nav{
  font-size: 0.9rem;
}


} 

@media screen and (max-width: 768px){



#nav{
  display: none;
}

.menu__box nav{
  display:block;
  margin-top: 1rem;
}

.menu__box nav::before{
    content: "";
    background-color: var(--c5);
    width: 7rem;
    height: 1.8px;
    position: absolute;
    top: 12rem;
    transition: 1s;

}



.menu__box{
  padding: 0.8rem 1.8rem;

}

.menu__box_content{
    padding: 0.8rem 1.8rem;
}


.menu__box h1{
    font-size: 1rem;
}

.menu__box::after{
    width: 5rem;
    height: 1.5px;
    top: 2.2rem;
    left: 3.5rem;
}

.menu__box h2{
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.menu__box a{
    font-size: 0.7rem;
}


/* .menu__btn {
  top: 2.4rem;
  right: 5rem;
  width: 1.7rem;
  height: 2rem;
  cursor: pointer;
  z-index: 12;
} */

/*   
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--c8);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}



#menu__toggle {
  opacity: 0;
  z-index: 11;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  

}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 4rem !important;
  top: 1rem !important;
} */

/* header.sticky{
  background-color: #6357D2;
  padding: 0.2rem
} */

#change_button{
  font-size: 0.8rem;

}


.change_buttom::before{
  width: 4rem;


}

.optioncat{
  max-width: 5rem;
  bottom: -0.6rem;
  left: 6rem;
}

.darkmodetext{
  padding-top: 1.7rem;
}

.darkmodetext::before{

  width: 7rem;
  height: 1.8px;
  top: 7.8rem;
}


}

@media screen and (max-width: 550px){
header{
  margin-right: -2%;
}


.brand{
  font-size: 1rem;
}


.menu__btn {
  transform: scale(0.8);
  margin-top: -3%;
  position: absolute;
}


#menu__toggle{
  display: none;
}

header{
  padding: 0  0 0 10%
}

.menu__box nav::before{
    content: "";
    background-color: var(--c5);
    width: 6rem;
    height: 1.8px;
    position: absolute;
    top: 10.3rem;
    transition: 1s;

}


.menu__box h1{
    font-size: 0.8rem;
}

.menu__box::after{
    width: 4rem;
    height: 1.5px;
    top: 2rem;
    left: 3.1rem;
}

.menu__box h2{
    margin-top: 1.5rem;
    font-size: 0.7rem;
}

.menu__box a{
    font-size: 0.5rem;
    line-height: 1.5rem;
}

header label{
  transform: scale(0.7);
}

#change_button{
  font-size: 0.6rem;

}


.change_buttom::before{
  width: 3rem;


}

.optioncat{
  max-width: 4rem;
  bottom: -0.4rem;
  left: 5rem;
}

.darkmodetext{
  padding-top: 1rem;
  font-size: 0.8rem;
}

.darkmodetext::before{

  width: 6rem;
  height: 1.8px;
  top: 6.8rem;
}

#menu__toggle:checked ~ .menu__box {
  top: 0.6rem !important
}




}

@media screen and (max-width: 375px){

.menu__btn {
  transform: scale(0.7);
  margin-top: -4%;
  margin-right: -1rem;
  position: absolute;
}
}

#menu__toggle:checked ~ .menu__box {
    top: 0.6rem !important
}



@media screen and (max-width: 320px){

.menu__btn {
  margin-top: -6%;
  margin-right: -1rem;
}

#menu__toggle:checked ~ .menu__box {
  top: 0.6rem !important;
}


}