.main{
    margin-top: 8rem;
    margin-left: 10%;
    position: relative;
    
}
.large_txt{
    max-width: 18rem!important;
}
.name{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.75rem;
    color: var(--c10);
    height: 10px;
    margin-left: 0.3rem
}

.titlemain{
    display: block;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 6rem;
    color: var(--c13);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.subtitle{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--c10);
    max-width: 16rem;
    display: block;
    margin-left: 0.3rem
}

.come{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.75rem;
    text-decoration-line: underline;
    color: var(--r6);
    margin-left: 0.3rem;
    margin-bottom: 4rem
}

.catmain{
    position: absolute;
    max-width: 30rem;
    bottom: -2rem;
    right: 0%;
    filter: drop-shadow(50px 10px 10px  #00000041);
    pointer-events: none;

}


#posição-gato{
    position: relative;
}



@media screen and (max-width: 1260px) {
   
.catmain{
    position: absolute;
    max-width: 27rem;
    bottom: -2rem;
    right: 0%;
    filter: drop-shadow(50px 10px 10px  #00000041);
    pointer-events: none;
    z-index: -1;

} 

.home{
    z-index: -5;
}

}

@media screen and (max-width: 1120px){

    .catmain{
        max-width: 25rem;
        right: -15%
    }
}

@media screen and (max-width: 1024px){

.main{
    margin-top: 4rem
}
    .name{
    font-size: 1.5rem;
    line-height: 3.75rem;
    height: 10px;
    margin-left: 0.3rem
}

.titlemain{
    font-size: 4rem;
    line-height: 4rem;
}

.subtitle{
    margin-top: 0.8rem;
    font-size: 0.8rem;
    line-height: 1rem;
    max-width: 14rem;
    margin-left: 0.3rem
}

.come{
    font-size: 1.8rem;
    line-height: 3.75rem;
    margin-left: 0.3rem;
    margin-bottom: 4rem 
}

.catmain{
    max-width: 22rem;
    right: -10%
}
}


@media screen and (max-width: 680px){
    .catmain{
        display: none;
        
    }

    .titlemain{
        padding-right: 1rem;
    }
}

@media screen and (max-width: 550px){


    .main{
        margin-top: 3rem;
        margin-right: 4.5rem ;
    }
        .name{
        font-size: 1.2rem;
        line-height: 3.2rem;
        height: 10px;
        margin-left: 0.3rem
    }
    
    .titlemain{
        font-size: 3rem;
        line-height: 3rem;
    }
    
    .subtitle{
        margin-top: 0.8rem;
        font-size: 0.6rem;
        line-height: 0.8rem;
        max-width: 10rem;
        margin-left: 0.3rem
    }
    
    .come{
        font-size: 1.2rem;
        line-height: 3.75rem;
        margin-left: 0.3rem;
        margin-bottom: 4rem 
    }
    
    .catmain{
        display: block;
        max-width: 18rem;
        bottom: -1rem;
        right: -40%
        
    }
    }

@media screen and (max-width: 450px){

    h3#subtitle_id.subtitle.large_txt{
        margin-right: 10rem;
        display: inline-block;
    }

    .catmain{
        max-width: 15rem;
    }

}



@media screen and (max-width: 375px){
    .catmain{
        right: -60%
    }

}

@media screen and (max-width: 320px){
    .catmain{
        display: none;
    }

}
    



