.projects{
    background-color: var(--c3);
    display: grid;
    grid-template-columns: 30vw 70vw;
    gap: 2rem;
    padding: 5rem 0 5rem 10%;
    position: relative;
}

.construction{
    width: 30rem;
    position: absolute;
    bottom: -4.5rem;
    left: 25rem;
}

.left_project{
    position: relative;
    padding-top: 1rem;
}

.title_project{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 5rem;
    letter-spacing: 0.01em;
    line-height: 5rem;
    color: var(--c13);
  
}

.sub_project{
    display: block;
    margin-top: 2rem;
    max-width: 20rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--c11);
}


.point_cat{
    position: absolute;
    max-width: 18rem;
    bottom: -7.5rem;
    left: 2rem;
    filter: drop-shadow(50px 10px 10px  #00000049);
}



.project-wrapper{
    display: grid;
    background-color: var(--c2);
    border-radius: 15px;
    padding: 10vh 10vw 0 10vw;
    box-shadow: inset 4px 8px 10px 0 rgba(0, 0, 0, 0.25);
    overflow-x: scroll; /* Alteração aqui para permitir a rolagem horizontal */
    white-space: nowrap; /* Impede que as imagens quebrem para a próxima linha */
    width: 33vw;

}






.date{
    font-size: 2.5rem;
    font-family: 'Poppins';
    margin-bottom: 5vh;
    position: relative;
}

.date h2:first-child{
    position: absolute;
    left: 20rem;
    Top: -5vh;
}

.date h2:last-child{
    position: absolute;
    left: 126.5rem;
    Top: -5vh;
}


.project-wrapper ol{
    display: grid;
    gap: 3rem
}

.project-wrapper ol div{
    padding-right: 15rem;
}

.project-wrapper li {
    position: relative;
}

.tooltipProject {
    display: flex;
    flex-direction: column;
    max-width: 13rem;
    margin-right: 0px !important;
    white-space: normal;
    position: absolute !important;
    top: 0;
    right: -12.5rem;
    font-size: 0.9rem;
    opacity: 0;
    pointer-events: none;
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.project-wrapper li:hover .tooltipProject {
    opacity: 1;
    pointer-events: auto;
    right: -14.5rem;
}




.tooltipProject h2{
    color: var(--c12);
    font-weight: 500;
}

.tooltipProject p{
    color: var(--c12);
    font-weight: 400;
}

.tooltipProject span{
    color: var(--r6);
    font-weight: 500;
}
 
.segundoGrid{
    margin-left: 15rem;
}

.project-wrapper img{
    transition: .25s;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px  #0000003b);
    width: 15rem;        
    height: auto;
    flex: 0 0 auto;
    border-radius: 10px;
    
}

.project-wrapper img:hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 10px  #0000002d);
}

.primeiroGrid li,
.segundoGrid li{
    position: relative;
}





.primeiroGrid li::before{
    content: "25-Nov";
    position: absolute;
    display: flex;
    width: 7rem;
    height: 3.5rem;
    background-color: var(--c1);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.137);
    z-index: 100;
    border-radius: 5px;

    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--c13);

    bottom: -5rem;
    left: 4rem;
    transition: .5s;
}

.primeiroGrid li:hover::before{
    transform: scale(1.1);
}

.primeiroGrid li::after {
    content: "";
    position: absolute;
    bottom: -3rem;
    left: 6rem;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 43.3px solid var(--c1);
    transform: rotate(180deg);
}


.primeiroGrid li:nth-child(1)::before {
    content: '25-Nov'; 
}

.primeiroGrid li:nth-child(2)::before {
    content: '29 - Jul';
}

.primeiroGrid li:nth-child(3)::before {
    content: '19 - Apr';
}

.primeiroGrid li:nth-child(4)::before {
    content: '16 - Feb';
}

.primeiroGrid li:nth-child(5)::before {
    content: '12 - Jan';
}

.primeiroGrid li:nth-child(6)::before {
    content: '23 - Nov';
}

.primeiroGrid li:nth-child(7)::before {
    content: '02 - Aug';
}

.segundoGrid li:nth-child(1)::before {
    content: '21 - Nov';
}

.segundoGrid li:nth-child(2)::before {
    content: '02 - Jun';
}

.segundoGrid li:nth-child(3)::before {
    content: '09 - Mar';
}

.segundoGrid li:nth-child(4)::before {
    content: '14 - Jan';
}

.segundoGrid li:nth-child(5)::before {
    content: '12 - Dec';
}

.segundoGrid li:nth-child(6)::before {
    content: '25 - Aug';
}

.segundoGrid li:nth-child(7)::before {
    content: '03 - Mar';
}


.segundoGrid li::before{
    content: "25-Nov";
    position: absolute;
    display: flex;
    width: 7rem;
    height: 3.5rem;
    background-color: var(--c1);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.137);
    z-index: 100;
    border-radius: 5px;

    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--c13);

    top: -5.2rem;
    left: 4rem;
    transition: .5;
}

.segundoGrid li:hover::before{
    transform: scale(1.1);
}

.segundoGrid li::after {
    content: "";
    position: absolute;
    top: -2.8rem;
    left: 6rem;
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 40.3px solid var(--c1);
    z-index: 100;
}



.linha{
    width: calc(100% + 15vw*5 + 5rem);
    height: 5px;
    background-color: var(--r5);
    display: flex;
    position: relative;
}

.linha::after,
.linha::before{
    content: "";
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--r5);
}

.linha::before{
    left: -10px;
    top: -5px;
}

.linha::after{
    right: -10px;
    top: -5px
}

.cursor{
    position: absolute;
    width: 2rem !important;
    left: -1rem;
    bottom: 0rem;
    z-index: 100;
}





.modal{
    position: absolute;
    background-color: var(--c13modal);
    color:var(--c3modal);
    font-size: 1.3rem;
    align-content: center;
    left: 50%;
    top: 10%;
    transform:translateX(-50%) scale(0);
    padding: 5rem 5rem 2rem 5rem;
    margin-top: 5rem;
    text-align: center;
    z-index: 10;
    border-radius: 20px;
    transition: 200ms ease-in-out;
}

#modal2{
    top: 5%;
}

#modal3{
    top: 5% ;
}

.modal a{
    color:var(--r5);
}

.modal.active{
    transform:  translateX(-50%) scale(1);
}

.modal .close_button{
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color:var(--c3modal);
}

.modal img{
    max-width: 40vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: .25s;
    border-radius: 5px;
}

.modal p{
    margin-bottom: 1rem;
}

.button_project a:first-child{
    margin-right: 5%;
}

.button_project a{
    background-color: var(--r6modal);
    padding: 10px 16px;
    border-radius: 10px;
    color:var(--c3modal);
    width: 8rem;
}

#modal6 img{
    max-width: 20vw;
}



#overlay{
    position: absolute;
    background-color: var(--c13modalb);
    width: 100%;
    height: 100%;
    opacity: 0; 
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active{
    opacity: 0.5;
    pointer-events: all;
}

.modal img:hover{
    cursor:auto;
}

.arrow_left {
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
  }
  
  .arrow_right{
    color: #555;
  }

 h3#sub_project_id.sub_project{
    display: block;
    margin-top: 2rem;
    max-width: 20rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--c11);
 }


 @media screen and (max-width: 1220px){
    .point_cat{
        max-width: 15rem;
        left: 17rem;
    }

    .projects{
        gap: none;
        padding-left: 10%;
        
    }

    .project-wrapper{
        margin-left: -2rem;
    }
    
}

@media screen and (max-width: 1024px){
    .projects{
        gap: 1rem;
        grid-template-columns: 0.4fr 1fr;
        padding: 5.5rem 0 5.5rem 10%
        
    }
    
    .title_project{
        font-size: 7rem;
        line-height: 7.5rem;
    
    }

    h3#sub_project_id.sub_project{
        max-width: 15rem;
        font-size: 1.2rem;
        margin-right: 0;
        display: inline-block;
    }

    .project-wrapper{
        transform: scale(0.8);
        margin-left: 5%;
        padding-top: 0;

    }

    .left_project{
        margin-top: 2rem;
    }


    .point_cat{
        max-width: 13rem;
        bottom: -8rem;
        left: 13rem;
    }

    .modal{
        font-size: 1.1rem;
        margin-top: 2rem;
    }


}

@media screen and (max-width: 850px) {
    .title_project{
        font-size: 5rem;
        line-height: 5rem;
    }

    h3#sub_project_id.sub_project   {
        font-size: 1rem;
    }

    .project-wrapper{
        transform: scale(0.7);
    }

    .point_cat{
        max-width: 13rem;
        left: 5rem;
    }

    .button_project a{
        padding: 8px 12px;
        font-size: 1rem;
        width: 6rem;
    }

    .modal{
        width: 45vw;
    }

}

@media screen and (max-width: 768px) {


    .projects{
        grid-template-columns: 1fr;
        justify-items: center;
        padding-left: 0;
    }

    .left_project{
        display: flex;
    }

    .title_project{
        font-size: 5rem;
    }

    h3#sub_project_id.sub_project   {
        font-size: 1rem;
        max-width: 10rem;
        margin-left: 7%;
    }

    .project-wrapper{
        margin-left: 0;
    }


    

    #project_img1{
        grid-column: 2/16;
        grid-row: 1/10;
     
    }
      
      #project_img2{
        grid-column: 2/14;
        grid-row: 12/25;
      }
      
      #project_img3{
        grid-column: 18/28;
        grid-row: 1/8;
      }
      
      #project_img4{
        grid-column: 15/30;
        grid-row: 11/17;
      }
      
      #project_img5{
        grid-column: 30/38;
        grid-row: 3/9;
      }
      
      #project_img6{
        grid-column: 16/22;
        grid-row: 19/19;
      }
      
      #project_img7{
        grid-column: 31/40;
        grid-row: 10/16;
      }
      
      #project_img8{
        grid-column: 24/39;
        grid-row: 18/23;
      }

      .point_cat{
        max-width: 8rem;
        left: 3rem;
        bottom: -37rem;
    }

    .modal{
        margin-top: 10rem;
    }

}


@media screen and (max-width: 630px) {

    .button_project{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
    }

    .button_project a, .button_project a:first-child{
        padding: 7px 10px;
        font-size: 0.8rem;
        width: 20vw;
        margin-right: 0;
    }

    .modal{
        margin-top: 10rem;
        width: 45vw;
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 425px) {

    .left_project{
        display: grid;
    }
    .sub_project{
        display: inline;
    }
  
        #project_img5 {
        grid-column: 1/12;
        grid-row: 26/33;
        }
        
        #project_img7 {
        grid-column: 7/20;
        grid-row: 34/41;
        }
        
        #project_img8 {
        grid-column: 15/32;
        grid-row: 28/33;
        }

      .point_cat{
        max-width: 8rem;
        bottom: -48rem;
        left: 3rem;
        }

        .modal{
            margin-top: 30rem;
            width: 40vw;
            font-size: 0.6rem;
            padding: 5rem 3rem 2rem 3rem;
        }

        .button_project a, .button_project a:first-child{
            padding: 6px 9px;
            font-size: 0.6rem;
            width: 17vw;
            margin-right: 0;
        }
}

@media screen and (max-width: 375px) {
    .point_cat{
        max-width: 8rem;
    }
}




@media screen and (max-width: 320px) {

    .title_project{
        font-size: 3rem;
        line-height: 3rem;
    }

    h3#sub_project_id.sub_project{
        font-size: 0.7rem;
        margin-left: 0;
    }



    .projects{
        grid-template-rows: 5rem;
    }

    
    .modal{
        margin-top: 15rem;
        width: 40vw;
        font-size: 0.6rem;
        padding: 5rem 3rem 2rem 3rem;
    }

    .point_cat{
        max-width: 10rem;
        left: 1rem
    }
   
}

::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    background-color: var(--c5);
    margin-inline: 10px;
}

.project-wrapper::-webkit-scrollbar-track{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--r5);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--r4);

}

::-webkit-scrollbar-thumb:active{
    background-color: var(--r7);
}
